/* Global Styles */
h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}

.text-white {
  color: #ffffff
}

/* Navbar */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  min-height: 60px;
}

.navbar-default {
  background-color: #f6cc0c;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #ffffff;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  max-width: 80px;
}

.brand {
  padding-left: 10px;
}

/* Home Section */
.home-section {
  height: 100vh;
  display: flex;
  align-items: center;
  background: url(../img/tortilla1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-section h2 {
  padding: 30px;
}

/* History Section */
.history-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Products Section */
.products-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Contact Us Section */
.contact-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #0a4eef;
}

/* Footer Section */
.footer-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6cc0c;
}

.footer-section a {
  color: #000000;
}

.footer-social {
  text-decoration: none;
}

.fab, .far, .fas {
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
/* Small Screens */
@media only screen and (min-width : 768px) {
}

/* Medium Screens */
@media only screen and (min-width : 992px) {
}

/* Large Screens */
@media only screen and (min-width : 1200px) {
}
