/* Font Reference
font-family: 'Gochi Hand', cursive;
font-family: 'Sarina', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Pattaya', sans-serif;
font-family: 'Galada', cursive;
*/

/* Global Styles a*/
body {
  background-color: #f3f2f4;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  font-family: 'Leckerli One', cursive;
}

p {
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
}

a:focus, a:hover {
  text-decoration: none;
}

.text-white {
  color: #ffffff
}

/* Navbar */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  min-height: 120px;
}

.navbar-default {
  background-color: #ffffff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #000000;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #000000;
}

.navbar-default .navbar-brand {
  color: #000000;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  max-width: 200px;
}

.brand-position {
  margin-left: 30px;
}

.brand {
  padding-left: 10px;
}

.logo-text {
  /* font-family: 'Pattaya', sans-serif; */
  /* font-family: 'Galada', cursive; */
  font-family: 'Leckerli One', cursive;
  /* font-family: 'Sarina', cursive; */
}

.logo-text a {
  font-size: 20px;
}

/* Home Section */
.home-section {
  padding-top: 60px;
  height: 75vh;
  display: flex;
  align-items: flex-end;
  background: url(../img/tortilla1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-section h2 {
  padding: 5px 0 5px 0;
  color: #000000;
}

.text-box {
  background-color: rgba(255, 255, 255, .45);
  margin-bottom: 30px;
  border-radius: 15px 50px;
}

/* Story Section */
.story-section {
  margin: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(43, 98, 215, .85);
  border-radius: 15px;
}

.story-header {
  font-size: 40px;
  margin-bottom: 60px;
  color: #f6cc0c;
}

.story-content {
  font-family: 'Gochi Hand', cursive;
  font-size: 22px;
  margin-bottom: 20px;
}

.story-pics {
  margin-bottom: 10px;
}

.pic-center {
  display: flex;
  justify-content: space-around;
}

/* Products Section */
.products-section {
  padding-top: 60px;
  padding-bottom: 80px;
}

.products-header {
  font-size: 40px;
  margin-bottom: 60px;
  color: #f40134;
}

.tab-content h4 {
  font-size: 24px;
}

.tab-pane {
  padding-top: 60px;
  padding-bottom: 60px;
}

.nav-tabs a {
  color: #000000;
  background-color: #ffffff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #f40134;
}

.tab-content>.active {
  padding-right: 20px;
  padding-left: 20px;
  color: #ffffff;
  background-color: rgba(43, 98, 215, .85);
  border-radius: 15px;
}

.mr-wrapper {
  margin-bottom: 15px;
}

.butter {
  color: #f6cc0c;
}

.product-pics img {
  padding: 5px;
  max-width: 350px;
  max-height: 350px;
}

/* Contact Us Section */
.contact-section {
  margin: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(43, 98, 215, .85);
  border-radius: 15px;
}

.contact-section p {
  margin: 0;
}

.contact-list {
  margin-top: 20px;
  color: #000000;
}

/* Footer Section */
.footer-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.footer-section a {
  color: #000000;
}

.footer-social {
  text-decoration: none;
}

.fab, .far, .fas {
  font-size: 22px;
  margin-left: 5px;
  margin-right: 5px;
}

/* Extra Small */
@media only screen and (max-width : 767px) {
  .home-section {
    align-items: center;
  }

  .home-section h2 {
    font-size: 24px;
  }
}

/* Small Screens */
@media only screen and (min-width : 768px) {
  .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .home-section h2 {
    font-size: 28px;
  }
}
/* Medium Screens */
@media only screen and (min-width : 992px) {
  .home-section h2 {
    font-size: 40px;
  }
}

/* Large Screens */
@media only screen and (min-width : 1200px) {
  .home-section h2 {
    font-size: 60px;
  }
}
