/* Global Styles a*/
body {
  background-color: #f3f2f4;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}

a:focus, a:hover {
  text-decoration: none;
}

.text-white {
  color: #ffffff
}

/* Navbar */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  min-height: 60px;
}

.navbar-default {
  background-color: #f3f2f4;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #000000;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #000000;
}

.navbar-default .navbar-brand {
  color: #000000;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  max-width: 80px;
}

.brand {
  padding-left: 10px;
}

/* Home Section */
.home-section {
  padding-top: 60px;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  background: url(../img/tortilla1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-section h2 {
  padding: 5px 0 5px 0;
  color: #000000;
}

.text-box {
  background-color: rgba(255, 255, 255, .80);
  margin-bottom: 30px;
}

/* History Section */
.history-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Products Section */
.products-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #0a4eef;
}

.products-section blockqoute {
  border: 0;
}

.product-description {
  margin-bottom: 60px;
}

/* Recipe Section */
.recipe-section {
  padding: 60px 0 60px 0;
}

/* Contact Us Section */
.contact-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #0a4eef;
}

/* Footer Section */
.footer-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6cc0c;
}

.footer-section a {
  color: #000000;
}

.footer-social {
  text-decoration: none;
}

.fab, .far, .fas {
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

/* Extra Small */
@media only screen and (max-width : 767px) {
  .home-section {
    align-items: center;
  }

  .home-section h2 {
    font-size: 24px;
  }
}

/* Small Screens */
@media only screen and (min-width : 768px) {
  .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .home-section h2 {
    font-size: 28px;
  }
}
/* Medium Screens */
@media only screen and (min-width : 992px) {
  .home-section h2 {
    font-size: 40px;
  }
}

/* Large Screens */
@media only screen and (min-width : 1200px) {
  .home-section h2 {
    font-size: 75px;
  }
}
